<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="css/community.css">
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.js" type="application/javascript"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">my社区</span>
            </button>
            <a class="navbar-brand" href="#">my社区</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Dropdown <span class="caret"></span></a>
                </li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索话题">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${session.user!=null}"><a href="/publish">发布</a></li>
                <li class="dropdown" th:if="${session.user!=null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" th:text="${session.user.getName()}"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">消息中心</a></li>
                        <li><a href="#">个人资料</a></li>
                        <li><a href="#">退出登录</a></li>
                    </ul>
                </li>
                <li th:if="${session.user==null}"><a href="https://github.com/login/oauth/authorize?client_id=1be069a756230d6fc8ab&redirect_uri=http://localhost:8080/callback&scope=user
                &state=1">登录</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 .col-md-12 .col-sm-12 .col-xs-12">
            <h2 style="font-size: 20px"><span class="glyphicon glyphicon-list" aria-hidden="true">发现</span></h2>
            <ul class="media-list" th:each="question:${questions.getList()}">
                <hr>
                <li class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded img-listsize" style="size: 40px" th:src="${question.getUser().getAvtar_url()}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading" th:text="${question.getTitle()}"></h4>
                        <span class="text-desc">• <span th:text="${question.getUser().getName()}"></span>发起了问题 • <span th:text="${question.getCommentCout()}"></span> 个评论 • <span th:text="${question.getReaderCount()}"></span> 次浏览 • <span th:text="${#dates.format(question.getGmt_modified(),'dd MMMM yyyy')}"></span></span>
                    </div>
                </li>
            </ul>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${questions.getPageNum()-4>0}">
                        <a th:href="@{/(pageNum=${questions.getNavigateFirstPage()})}" aria-label="FirstPage">
                            <span aria-hidden="true"><<</span>
                        </a>
                    </li>
                    <li th:if="${questions.isHasPreviousPage()}">
                        <a th:href="@{/(pageNum=${questions.getPageNum()-1})}" aria-label="Previous">
                            <span aria-hidden="true"><</span>
                        </a>
                    </li>
                    <li th:each="i:${#numbers.sequence(3,1)}"><a th:if="${questions.getPageNum()-i>0}" th:href="@{/(pageNum=${questions.getPageNum()-i})}" th:text="${questions.getPageNum()-i}"></a></li>
                    <li class="active">
                        <span th:text="${questions.getPageNum()}"><span class="sr-only"></span></span>
                    </li>
                    <li th:each="i:${#numbers.sequence(1,3)}"><a th:if="${questions.getPageNum()+i<=questions.getPages()}" th:href="@{/(pageNum=${questions.getPageNum()+i})}" th:text="${questions.getPageNum()+i}"></a></li>
                    <li th:if="${questions.isHasNextPage()}">
                        <a th:href="@{/(pageNum=${questions.getPageNum()+1})}" aria-label="Next">
                            <span aria-hidden="true">></span>
                        </a>
                    </li>
                    <li th:if="${questions.getPageNum()+4<=questions.getPages()}">
                        <a th:href="@{/(pageNum=${questions.getNavigateLastPage()})}" aria-label="LastPage">
                            <span aria-hidden="true">>></span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
        <div class="col-lg-3 .col-md-12 .col-sm-12 .col-xs-12">
            热门问题
        </div>
    </div>
</div>
</body>
</html>